.ArtistItem {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    max-height: 300px;
}

.ArtistItem .img-block {
    width: 30%;
    display: flex;
    justify-content: flex-start;
}

.ArtistItem .img-block img {
    height: 100%;
    width: auto;
    min-width: 300px;
}

.ArtistItem .text-block {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
