.ArtistImgBlock {
    width: 100%;
    overflow: hidden;
}

.ArtistImgBlock img {
    width: auto;
    height: auto;
    max-height: 500px;
}

.ArtistTextBlock {
    text-align: center;
}

.ArtistTextBlock p {
    text-align: left;
    font-size: 24px;
    font-style: italic;
}

.AlbumsBlock {
    display: flex;
    flex-wrap: wrap;
}