.AlbumItem {
    width: 300px;
    border: solid 1px grey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.AlbumImgBlock img {
    max-width: 300px;
    max-height: 300px;
}

.AlbumTextBlock ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    text-align: left;
}

