.AlbumInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AlbumInfo img {
    max-height: 300px;
    max-width: 300px;
}

.AlbumImg {
    width: 300px;
    height: 300px;
}
